*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	cursor: default;
}
html{
	scroll-behavior: smooth;
}
li{
	list-style-type:none;
}
a{
	text-decoration: none;
	cursor: pointer;
	outline:none;
}
button{
	cursor: pointer;
}
input{
	cursor:text;
}
.list_pop{
	position:fixed;
	width:100%;
	height:0vh;
	background-color:rgba(0,0,0,0.95);
	display:flex;
	justify-content: center;
	align-items:center;
	z-index : 8;
	transition: width 1s ease-in;
	overflow: hidden;
	clip:auto;
}
.list_pop ul{
	display: none;
}
.list_pop ul li{
	list-style:none;
	margin-top:20px;
	text-align:center;
}
.list_pop ul li a{
	text-decoration: none;
	font: 700 18px/30px Poppins;
	color:#27AE61;
	cursor:pointer;
}
.list_pop i{
	position:absolute;
	top:10%;
	right:10%;
	font-size:30px;
	color:#27AE61;
	cursor:pointer;
	display:none;
}
.header_slider{
	overflow:hidden;
	width:100%;
	background-color:rgba(0,0,0,0.9);
	/* height:700px; */
}
.header_slider>div{
	width:100%;
	height:100%;
    background-image: url(./images/Path\ 1@2x.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	overflow:hidden;
}
header{
	width:65%;
	margin:48px auto 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.llogo_container{
	display: flex;
	align-items: center;
}
.llogo_container h1{
	font:700 24px/32px 'Nunito Sans';
	color:white;
	text-transform: uppercase;
	margin-left:10px;
}
.list_container{
	display:flex;
	align-items: center;
}
.list_container li{
	margin-left:40px;
}
.list_container li a{
	font:700 18px/24px 'Nunito Sans';
	color:white;
}
.first_header i{
	color:white;
	font-size:40px;
	display: none;
}
.slider1_section{
	width:65%;
	margin:auto;
}
.slider1_part{
	width:100%;
	height:100%;
	overflow:hidden;
}
/* .slider1 .slick-list{
	height:50%;
} */
.slider1_items{
	margin-top:195px;
	display:inline-flex;
	flex-flow:column;
	align-items:center;
	outline:none;
}
.slider1_items h2{
	font:700 70px/70px 'Nunito Sans';
	color:white;
}
.slider1_items p{
	font:700 24px/32px 'Nunito Sans';
	color:white;
	margin-top:10px;
}
.learn_more{
	background-color:#27AE61;
	color:white;
	padding:18px 28px;
	font:400 24px/29px Montserrat;
	border-radius:30px;
	margin-top:53px;
}
.slider1_part ul{
	display:flex;
	justify-content:center;
	margin-top:143px;
	margin-bottom: 30px;
	outline:none;
}
.slider1_part ul li{
	width:21px;
	height:21px;
	margin-left:30px;	
	border-radius:50%;
	outline:none;
}
.slider1_part ul li button{
	width:100%;
	height:100%;
	border-radius: 50%;
	background-color:transparent;
	color:transparent;
	border:1px solid white;
	outline:none;
}
.slider1_part ul .slick-active button{
	background-color:#27AE61;
}
.slider1_section ul li:first-child{
	margin-left:0;
}
.about_section{
	background-color:white;
}
.about_section>div{
	width:65%;
	margin:60px auto;
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.about_img{
	width:50%;
}
.about_img img{
	width:100%;
}
.about_info{
	width:35%;
}
.about_info h2{
	font:700 36px/48px 'Nunito Sans';
	text-transform: capitalize; 
}
.about_info p{
	font:400 18px/24px Montserrat;
	margin-top:21px;
}
.about-items-container{
	display: flex;
	flex-flow:column;
}
.about_items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:45px;
}
.about_items h3{
	width:80%;
	margin-left:30px;
	font:700 30px/42px 'Nunito Sans';
}
.features_section{
	background-color:#F1F1F1;
	overflow: hidden;
}
.features_section>div{
	width:65%;
	margin:66px auto 0 auto;
}
.headline{
	font: 700 48px/60px 'Nunito Sans';
	text-align: center;
}
.features_info{
	margin-top:44px;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	grid-gap:60px 90px;
}
.features_items{
	display: flex;
	flex-flow: column;
	align-items: center;
}
.features_imgs{
	width:170px;
	height:170px;
	background-color:white;
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.features_imgs img{
	width:40%;
}
.features_items h2{
	font: 700 30px/36px 'Nunito Sans';
	margin-top:12px;
}
.features_items p{
	font:400 18px/24px Montserrat;
	text-align: center;
	margin-top:10px;
}
.courses_section{
	background-color: white;
	overflow:hidden;
}
.courses_section>div{
	width:65%;
	margin:auto;
	margin-top:65px;
}
.courses_container{
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	margin:43px 0 60px 0;
}
.courses_items{
	background-color:#F1F1F1;
	width:31.8%;
	overflow: hidden;
	padding-bottom: 23px;
	display:inline-flex;
	flex-flow:column;
}
/* .courses_img{
	height:40%;
} */
.courses_img img{
	width:100%;
	/* height:100%; */
}
.courses-info_container{
	display: flex;
	flex-flow:column;
	justify-content: flex-end;
}
.courses-info2_container{
	display: flex;
	flex-flow:column;
	justify-content: flex-end;
}
.courses_info{
	padding:31px 15px 22px 31px;
	border-bottom:3px solid #CFCFCF;
}
.courses_info h2{
	font:700 30px/36px 'Nunito Sans';
}
.courses_info p{
	font:400 18px/24px Montserrat;
	margin-top:20px;
}
.courses_info2{
	padding:22px 40px 60px 40px;
}
.courses_info2 h3{
	font:700 24px/32px 'Nunito Sans';
	padding:15px 0;
	text-align:center;
}
.courses_info2 .grey_line{
	width:100%;
	height:3px;
	background-color:#CFCFCF;
}
.join_link{
	background-color:#27AE61;
	margin:0 23px;
	padding:14px 0;
	text-align: center;
	border-radius: 30px;
}
.join_link a{
	font:700 24px/32px 'Nunito Sans';
	color:white;
}
.view_all{
	text-align:center;
	margin-bottom: 30px;
}
.view_all a{
	color:#1A1A1A;
	font:700 24px/32px 'Nunito Sans';
}
.teachers_section{
	background-color:#F1F1F1;
	overflow: hidden;
}
.teachers_section>div{
	width:65%;
	margin:67px auto 78px auto;
}
.teachers_container{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);
	grid-gap:70px 66px;
	margin-top:40px;
}
.teachers_items{
	display: inline-flex;
	justify-content: space-between;
	align-items:center;
}
.teachers_items img{
	width:29%;
}
.teachers_info{
	width:65%;
	margin-left:35px;
}
.teachers_info h2{
	font:700 30px/36px 'Nunito Sans';
}
.teachers_info p{
	font:700 24px/30px 'Nunito Sans';
	color:#27AE61;
}
.programs_section{
	background-color:white;
	overflow: hidden;
}
.programs_section>div{
	width:65%;
	margin:80px auto 100px auto;
}
.programs_container{
	margin-top:43px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	grid-gap:30px;
}
.programs_items{
	position: relative;
}
.programs_items img{
	width:100%;
}
.programs_info{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display: flex;
	flex-flow:column;
	justify-content: center;
	align-items:center;
	background-color:rgba(39, 174, 97,0.6);
}
.programs_info h2{
	font:700 30px/36px 'Nunito Sans';
	color:white;
	text-align:center;
}
.programs_info p{
	font:400 18px/24px Montserrat;
	color:white;
	padding:0 50px;
	text-align:center;
	margin-top:20px;
}
.clients_section{
	background-color:#F1F1F1;
	overflow: hidden;
}
.clients_section>div{
	width:65%;
	margin:76px auto ;
	position: relative;
}
.clients_container{
	width:100%;
	margin-top:44px;
	overflow: hidden;
}
.clients_items{
	display:inline-flex;
	flex-flow: column;
	align-items: center;
}
.clients_info{
	display:flex;
	flex-flow:column;
	align-items:center;
	display: none;
}
.clients_section .slick-center{
	outline:none;
}
.clients_section .slick-center .clients_imgs .overlay{
	background-color:transparent;
}
.clients_section .slick-center .clients_info{
	display:flex;
	width:300%;
}
.clients_imgs{
	width:120px;
	height:120px;
	border-radius: 50%;
	position: relative;
}
.clients_imgs img{
	width:100%;
	height:100%;
}
.overlay{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	border-radius:50%;
	background-color: black;
	opacity:0.5;
	z-index:2;
}
.clients_info p{
	margin-top:66px;
	font:400 18px/24px Montserrat;
	/* padding:0 200px; */
	text-align:center;
}
.clients_info h2{
	font:700 30px/36px 'Nunito Sans';
	margin-top:62px;
}
.clients_info h3{
	font:700 24px/32px 'Nunito Sans';
}
.clients_section i{
	position:absolute;
	font-size:50px;
	color:black;
	z-index:2;
}
.clients_section .client_left{
	top:50%;
	transform: translateY(-50%);
	left:0;
	cursor:pointer;
}
.clients_section .client_right{
	top:50%;
	transform: translateY(-50%);
	right:0;
	cursor:pointer;
}
.blog_section{
	background-color:white;
	overflow:hidden;
}
.blog_section>div{
	margin:80px 0 100px 0;
	width:100%;
	overflow:hidden;
}
.blog_container{
	width:100%;
	margin-top:43px;
}
.blog_items{
	display: inline-flex;
	flex-flow:column;
	align-items: center;
	/* width:270px !important;
	margin-left:30px;  */
	margin-left:15px;
	margin-right:15px;
	outline:none;
}
.blog_items img{
	width:100%;
}
.blog_info{
	padding:30px 10px;
}
.blog_info h2{
	font:700 24px/32px 'Nunito Sans';
	text-align:center;
}
.blog_info p{
	margin-top:11px;
	font:700 18px/24px Montserrat;
	text-align:center;
}
.read_more{
	width:100%;
	text-align:center;
	margin-top:60px;
	padding-bottom:21px;
}
.read_more a{
	background-color:#27AE61;
	color:white;
	border-radius:30px;
	padding:19px 42px;
	font:700 24px/32px 'Nunito Sans';
}
.email_section{
	background-image: url(./images/Rectangle\ 65.png);
	background-position: center;
	background-size: cover;
	overflow:hidden;
}
.email_section>div{
	width:65%;
	margin:75px auto;
	display: flex;
	justify-content: space-between;
	align-items:center;
}
.email_headline{
	font:700 36px/48px 'Nunito Sans';
	color:white;
}
.form{
	display:flex;
	justify-content:flex-end;
	align-items: center;
}
.form input{
	background-color:transparent;
	border:none;
	outline:none;
	border-bottom:1px solid white;
	padding:10px 30px 0 10px;
	font:700 24px/32px 'Nunito Sans';
	color:white;
}
.form button{
	background-color:#27AE61;
	color:white;
	font:700 24px/32px 'Nunito Sans';
	border:none;
	border-radius:30px;
	padding:19px 60px;
	margin-left:30px;
}
.contact_section{
	background-color:white;
	overflow:hidden;
}
.contact_section>div{
	width:65%;
	margin:66px auto 44px auto;
}
.contact_container{
	margin-top:43px;
	display:flex;
	justify-content:space-between;
}
.contact_inputs{
	width:48%;
	display:flex;
	flex-flow:column;
	justify-content: flex-start;
	align-items: flex-start;
}
.contact_inputs input{
	border:none;
	border-bottom:1px solid grey;
	outline:none;
	margin-bottom:30px;
	padding:5px 0;
	font:700 18px/24px 'Nunito Sans';
	width:100%;
}
.contact_inputs input::placeholder{
	font:400 18px/24px 'Nunito Sans';
	color:black;
}
.contact_inputs textarea{
	width:100%;
	height:270px;
	resize:none;
	padding:15px;
	font:400 18px/24px 'Nunito Sans';
	cursor: text;
	outline:none;
	border:1px solid #484848;
}
.contact_inputs textarea::placeholder{
	font:400 18px/24px 'Nunito Sans';
	color:black;
}
.contact_inputs button{
	margin-top:30px;
	font:400 24px/32px 'Nunito Sans';
	color:white;
	border:none;
	border-radius:35px;
	outline:none;
	padding:19px 74px;
	background-color:#27AE61;
}
.contact_map{
	width:49%;
	display: flex;
	flex-flow:column;
	justify-content: flex-start;
	align-items:flex-start;
}
.map{
	height:360px;
	width:100%;
}
.map iframe{
	width:100%;
	height:100%;
}
.contact_address{
	display: flex;
	justify-content: space-between;
	margin-top:30px;
}
.address_items{
	width:30%;
	display: flex;
	flex-flow:column;
}
.address_items i{
	color:#27AE61;
	font-size:30px;
}
.address_items a{
	margin-top:16px;
	font:700 18px/24px Montserrat;
	color:#484848;
}
footer{
	background-color:#1A1A1A;
	overflow:hidden;
	padding:34px 0;
}
footer header{
	margin-top:0;
}

/* Responsive */

@media only screen and (max-width:1380px){
	.container{
		width:75% !important;
	}
	.about_info {
		width: 40%;
	}
	.teachers_container {
		grid-gap: 50px 40px;
	}

}
@media only screen and (max-width:1124px){
	.container{
		width:80% !important;
	}
	.headline {
		font: 700 40px/60px 'Nunito Sans';
	}
	.llogo_container h1 {
		font: 700 21px/32px 'Nunito Sans';
	}
	.list_container li {
 	   margin-left: 30px;
	}
	.list_container li a {
		font: 700 16px/24px 'Nunito Sans';
	}
	.slider1_items h2 {
		font: 700 55px/70px 'Nunito Sans';
	}
	.about_info {
		width: 45%;
	}
	.courses_container{
		flex-flow:column;
		align-items:center;
	}
	.courses_items{
		margin-top:30px;
		width:unset;
		max-width:460px;
	}
	.features_info{
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(3,1fr);
	}
	.clients_section .slick-center .clients_info {
		width: 200%;
	}
	.teachers_container {
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(4,1fr);
	}
	.teachers_info h2 {
		font: 700 25px/36px 'Nunito Sans';
	}
	.teachers_info p {
		font: 700 18px/30px 'Nunito Sans';
	}
	.programs_container {
		margin-top: 43px;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(3,1fr);
		grid-gap: 30px;
	}
	.programs_info h2 {
		font: 700 26px/36px 'Nunito Sans';
		padding:0 10px;
	}
	.contact_container{
		flex-flow:column-reverse;
	}
	.contact_inputs{
		width:100%;
		margin-top:50px;
		align-items:center;
	}
	.contact_map{
		width:100%;
	}
	.email_section>div{
		flex-flow:column;
	}
	.form{
		margin-top:20px;
	}
}
@media only screen and (max-width:900px){
	.container{
		width:85% !important;
	}
	.llogo_container h1 {
    	font: 700 19px/32px 'Nunito Sans';
	}
	.list_container li {
		margin-left: 20px;
	}
}
@media only screen and (max-width:785px){
	.container{
		width:88% !important;
	}
	.llogo_container h1 {
		display:none;
	}
	.about_section>div{
		flex-flow:column;
	}
	.about_img{
		width:100%;
	}
	.about_info{
		width:100%;
		margin-top:20px;
	}
	.about_items h3 {
		font: 700 25px/42px 'Nunito Sans';
	}
	.programs_info p {
		padding: 0 35px;
	}
	.form button {
		margin-left:18px;
	}
}
@media only screen and (max-width:620px){
	.contanier{
		width:90% !important;
	}
	.first_header ul{
		display: none;
	}
	.first_header i{
		display: block;
	}
	.slider1_items h2 {
		font: 700 46px/50px 'Nunito Sans';
		text-align: center;
	}
	.learn_more {
		font: 400 18px/24px Montserrat;
	}
	.slider1_items p {
		font: 700 16px/24px 'Nunito Sans';
		text-align: center;
		padding:0 20px;
	}
	.slider1_part ul {
		margin-top: 100px;
		margin-bottom:30px;
	}
	.features_info{
		grid-template-columns: 1fr;
	}
	.features_items{
		max-width:370px;
		margin:auto;
	}
	.courses_container{
		display:unset;
	}
	.courses_items{
		margin-left:15px;
		margin-right:15px;
	}
	.courses_container .slick-dots{
		display:flex !important;
		justify-content:center;
		margin-top:40px;
		margin-bottom:30px;
	}
	.courses_container .slick-dots li{
		border-radius:50%;
		width:18px;
		height:18px;
		margin-right:5px;
	}
	.courses_container .slick-dots li:last-child{
		margin-right:0;
	}
	.courses_container .slick-dots li button{
		width:100%;
		height:100%;
		border-radius:50%;
		background-color:transparent;
		color:transparent;
		border:1px solid black;
		outline:none;
	}
	.courses_container .slick-dots .slick-active button{
		background-color: #27AE61;
	}
	.view_all{
		display:none;
	}
	.programs_container{
		grid-template-columns:auto;
	}
	.programs_items{
		max-width:370px;
		margin:auto;
	}
	.clients_section i{
		display: none;
	}
	.clients_section .slick-center .clients_info {
		width:100%;
	}
	.contact_address{
		flex-flow:column;
	}
	.address_items {
		width:162px;
		margin-top:20px;
	}
	.second_header{
		flex-flow:column;
	}
	.second_header .llogo_container h1{
		display: block;
	}
	.second_header ul{
		margin-top:50px;
		flex-flow:column;
	}
	.second_header ul li{
		margin-top:20px;
	}
	.clients_container .slick-dots{
		display:flex !important;
		margin-top:20px;
		justify-content: center;
	}
	.clients_container .slick-dots li{
		border-radius:50%;
		width:20px;
		height:20px;
		margin-right:10px;
	}
	.clients_container .slick-dots li:last-child{
		margin-right:0;
	}
	.clients_container .slick-dots li button{
		width:100%;
		height:100%;
		border-radius:50%;
		background-color:transparent;
		color:transparent;
		border:1px solid black;
		outline:none;
	}
	.clients_container .slick-dots .slick-active button{
		background-color: #27AE61;
	}
	.teachers_container{
		display:unset;
	}
	.teachers_items{
		flex-flow:column;
		align-items:center;
	}
	.teachers_items img {
		width: 50%;
	}
	.teachers_info{
		margin-left:0;
		width:100%;
	}
	.teachers_info h2,
	.teachers_info p{
		text-align:center;
	}
	.teachers_container .slick-dots{
		display:flex !important;
		justify-content:center;
		margin-top:40px;
	}
	.teachers_container .slick-dots li{
		border-radius:50%;
		width:18px;
		height:18px;
		margin-right:5px;
	}
	.teachers_container .slick-dots li:last-child{
		margin-right:0;
	}
	.teachers_container .slick-dots li button{
		width:100%;
		height:100%;
		border-radius:50%;
		background-color:transparent;
		color:transparent;
		border:1px solid black;
		outline:none;
	}
	.teachers_container .slick-dots .slick-active button{
		background-color: #27AE61;
	}
	.email_headline{
		text-align:center;
	}
	.form{
		flex-flow:column;
	}
	.form input {
		padding: 10px 10px 0px 10px;
	}
	.form button{
		margin-top:15px;
	}
}