* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/*General styles*/
.container {
    width: 80%;
    margin: 0 auto;
}
.green-btn, .join-btn {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    background-color: #27AE61;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: none;
    outline: none;
    border: none;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
body p {
    font-family: 'Montserrat', sans-serif !important;
}
section .container>h2, section>h2 {
    font-size: 48px;
    line-height: 60px;
    color: #111111;
    text-align: center;
}
/*Header styles*/
header {
    width: 100%;
    height: 700px;
    background-image: url('img/Path 1@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26,26,26, .8);
    z-index: -1;
}
header .container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}
header .container nav .logo {
    display: flex;
    align-items: center;
}
header .container nav .logo img {
    margin-right: 10px;
}
header .container nav .logo h2 {
    color: #fff;
}
header .container nav .nav-links ul {
    list-style: none;
    display: flex;
}
header .container nav .nav-links ul li {
    margin-left: 41px;
}
header .container nav .nav-links ul li a {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
}
header .headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
header .headline h1 {
    font-size: 72px;
    line-height: 72px;
    color: #fff;
    margin-bottom: 10px;
}
header .headline h3 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 32px;
    margin-bottom: 53px;
}

/*Main styles*/
/*Education section*/
#education {
    padding: 60px 0px;
}
#education .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#education .container .education-img {
    width: 45%;
}
#education .container .education-content {
    width: 45%;
}
#education .container .education-img img {
    width: 100%;
}
#education .container .education-content h2 {
    font-size: 36px;
    line-height: 48px;
    color: #1A1A1A;
    margin-bottom: 21px;
}
#education .container .education-content p {
    font-size: 18px;
    line-height: 24px;
    color: #1A1A1A;
}
#education .container .education-content .education-features .education-feature-child {
    display: flex;
    align-items: center;
    margin-top: 49px;
}
#education .container .education-content .education-features .education-feature-child img {
    width: 40px;
    height: 40px;
    margin-right: 30px;
}
#education .container .education-content .education-features .education-feature-child h3 {
    font-size: 30px;
    color: #1A1A1A;
}

/*Features styles*/
#features {
    background-color: #F1F1F1;
    padding: 60px 0px;
}
#features .container .features-items {
    margin-top: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 60px;
}
#features .container .features-items .features-item {
    text-align: center;
}

#features .container .features-items .features-item-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}
#features .container .features-items .features-item img {
    width: 64px;
    height: 84px;
}
#features .container .features-items .features-item h3 {
    font-size: 30px;
    line-height: 36px;
    color: #111;
    margin-bottom: 10px;
}
#features .container .features-items .features-item p {
    color: #484848;
    font-size: 18px;
    line-height: 24px;
    padding: 0px 40px;
}

/*Courses section styles*/
#courses {
    padding: 60px 0px;
}
#courses .container .card-items {
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
#courses .container .card-items .card {
    background-color: #F1F1F1;
}
#courses .container .card-items .card img {
    width: 100%;
}
#courses .container .card-items .card .card-info {
    padding: 30px 25px;
    border-bottom: 3px solid #CFCFCF;
}
#courses .container .card-items .card .card-info h3 {
    color: #1A1A1A;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
}
#courses .container .card-items .card .card-info p {
    font-size: 18px;
    color: #484848;
    line-height: 24px;
}
#courses .container .card-items .card .card-time {
    padding: 30px 60px;
}
#courses .container .card-items .card .card-time h4 {
    font-size: 24px;
    color: #1A1A1A;
    padding: 12px 0px;
    border-bottom: 3px solid #CFCFCF;
    text-align: center;
}
#courses .container .card-items .card .join-btn {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
#courses .container .view-all {
    text-align: center;
    margin-top: 60px;
}
#courses .container a {
    text-decoration: none;
    color: #1A1A1A;
    font-size: 24px;
    line-height: 32px;
}

/*Our Teachers Section Styles*/
#our-teachers {
    padding: 60px 0px;
    background-color: #F1F1F1;
}
#our-teachers .container .teachers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 60px;
    margin-top: 40px;
}
#our-teachers .container .teachers .teacher {
    display: flex;
    align-items: center;
}
#our-teachers .container .teachers .teacher img {
    margin-right: 36px;
}
#our-teachers .container .teachers .teacher h3 {
    font-size: 30px;
    line-height: 36px;
    color: #1A1A1A;
    margin-bottom: 5px;
}
#our-teachers .container .teachers .teacher h5 {
    color: #27AE60;
    font-size: 24px;
    line-height: 30px;
}

/*Programs Section Styles*/
#programs {
    padding: 60px 0px;
}
#programs .programs {
    margin-top: 43px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
#programs .programs .program {
    width: 100%;
    height: 370px;
    background-image: url('img/Rectangle 55@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#programs .programs .program::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 174, 96, .6);
    z-index: -1;
}
#programs .programs .program .program-info {
    text-align: center;
}
#programs .programs .program .program-info h2 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
}
#programs .programs .program .program-info p {
    font-size: 18px;
    line-height: 24px;
}
/*Testimonials section styles*/
#testimonials {
    padding: 60px 0px;
    background-color: #F1F1F1;
}
/*Blog section styles*/
#blog {
    padding: 60px 0px;
    text-align: center;
}
#blog .blog-items {
    margin-top: 43px;
    margin-bottom: 60px;
}
#blog .blog-items .blog-item img {
    margin-bottom: 30px;
}
#blog .blog-items .blog-item h3 {
    font-size: 24px;
    color: #1A1A1A;
    line-height: 32px;
    margin-bottom: 15px;
}
#blog .blog-items .blog-item p {
    font-size: 18px;
    line-height: 24px;
    color: #484848;
}

/*Newsletter section styles*/
#newsletter {
    background-image: url('img/Rectangle 65@2x.png');
    width: 100%;
    padding: 75px 0px;
}
#newsletter .subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#newsletter .subscribe h3 {
    font-size: 36px;
    line-height: 48px;
    color: #fff;
}
#newsletter .subscribe form input {
    margin-right: 30px;
    background: transparent;
    border: none;
    outline: none;
    width: 370px;
    border-bottom: 2px solid #95989A;
    padding: 5px 10px;
    color: #fff;
}
/*Contact Section styles*/
#contact {
    padding: 60px 0px;
}
#contact .container .contact-items {
    display: flex;
    margin-top: 43px;
}
#contact .container .contact-items form {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
}
#contact .container .contact-items form input, #contact .container .contact-items form textarea {
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #95989A;
    width: 100%;
    margin-bottom: 35px;
}
#contact .container .contact-items form input::placeholder, #contact .container .contact-items form textarea::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #111;
}
#contact .container .map-items {
    flex-basis: 50%;
}
#contact .container .map-items .contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#contact .contact-items .map-items .contact-info img {
    width: 24px;
    height: 30px;
    margin-bottom: 10px;
}
#contact .contact-items .map-items .contact-info p {
    color: #484848;
    font-size: 18px;
    line-height: 24px;
    padding-right: 20px;
}

/*Footer styles*/
footer {
    background-color: #1A1A1A;
    padding: 34px 0px;
}
footer .container {
    display: flex;
    justify-content: space-between;
}
footer .logo {
    display: flex;
    align-items: center;
}
footer .logo img {
    margin-right: 10px;
}
footer .logo h2 {
    color: #fff;
}
footer .container ul {
    list-style: none;
    display: flex;
}
footer .container ul li {
    margin-left: 41px;
}
footer .container ul li a {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
}